{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/teams/team-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Team</h1>
</section>

<section class="card-container">
  {% for team in fantasy_team.players %}
  <div class="card" style="border-color: black">
    <div
      class="card-bg"
      style="background-color: {{ team.get_colors_display }}"
    ></div>
    <a href="{% url 'team-detail' team.id %}">
      <div class="card-content">
        <h2>{{ team.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
