{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %} {% if user.is_authenticated %}
<section class="logo-container">
  <h2>fantasyfooty</h2>
  <div class="nfl-container">
    <img src="" alt="" width="200px" length="auto" />
  </div>
</section>
{% else %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %} {% endblock %}
