{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/players/player-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Player List</h1>
  <img
    src="https://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/3116406.png"
    alt="Tyreek Hill"
  />
  <img
    src="https://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/4241389.png"
    alt="CeeDee Lamb"
  />
  <img
    src="https://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/3054850.png"
    alt="Alvin Kamara"
  />
</section>

<section class="card-container">
  {% for player in players %}
  <div class="card">
    {% comment %}
    <a href="{% url 'player-detail' player.id %}">
      {% endcomment %}
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{{ player.headshotURL }}"
            alt="An NFL player"
            width="200px"
          />
        </div>
        <h2 class="card-title">{{ player.name }}</h2>
        {% if player.age %}
        <p>Age: {{ player.age }} years old</p>
        <p>Years played: {{ player.years_played }}</p>
        <p>Position: {{ player.position }}</p>
        <p>Team: {{ player.team }}</p>
        {% else %}
        <p>A {{ player.team }}</p>
        <p>{{ players }}</p>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      {% comment %} <form
        action="{% url 'add-player-to-team' player.id %}"
        method="post"
        class="form-container"
        autocomplete="off"
      > {% endcomment %}
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn submit">Add to my team</button>
      </form>
      {% endif %} {% comment %}
    </a>
    {% endcomment %}
  </div>
  {% endfor %}
</section>
{% endblock %}
